@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
      url('../fonts/icomoon.woff?7kkyc2') format('woff'),
      url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.shortcut{
    height: 31px;
    background-color: #f1f1f1;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
}
.shortcut1{
    font-size: 12px;
    color: #666;
    line-height: 31px; 
}
.shortcut1 .login{
    float: left;
}
.shortcut1 .login a:nth-of-type(1){
    margin: 0 12px;
}
.shortcut1 .login a:nth-of-type(1):hover {
    color:red;
}
.shortcut1 .login a:nth-of-type(2){
    color:red;
}
.shortcut1 .mine{
    float: right;
}

.shortcut1 .mine ul li{
    margin-top: 10px;
    float: left;
    height: 12px;
    line-height: 12px;
    padding: 0 18px;
    border-right: 1px solid #666;
}
.shortcut1 .mine ul li:last-child{
    border-right: 0;
}
.shortcut1 .mine ul li span{
    font-family: 'icomoon';
}
.header{
    height: 105px;
}
.logo{
    margin: 24px 175px 20px 0;
}
.center{
    width: 550px;

}
.search{
    margin: 25px 0 10px 0;
}
.search .text{
    float: left;
    width: 454px;
    height: 36px;
    border: 2px solid #b1191a;
    color:#757575;
    padding-left: 12px;
    }
.search .button{
    float: left;
   width: 80px;
   height: 36px;
   color:white;
   background-color: #b1191a;
}
.hotwords ul a {
    float: left;
    padding:0 12px;
}
.hotwords ul a:hover {
    color:#b1191a ;
}
.hotwords ul a:first-child {
    color:#b1191a ;
}
.shopcar{
    margin-top: 25px;
    margin-right: 60px;
    width: 138px;
    height: 36px;
   padding: 7px 10px;
    background-color: #f7f7f7;
}
.shopcar .shop{
    width: 25px;
    height: 20px;
    background: url(../images/icons.png) -413px -87px;
}
.shopcar span{
    font-family: 'icomoon';
    
}
.nav{
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .subnav{
    height: 49px;
    
}
.nav .subnav .all{
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 210px;
    background-color: #b1191a;
    color: white;
    font-size: 20px;
   
}
.nav .subnav .every a{
    float: left;
    display: block;
    padding: 13px 25px 0 25px;
    font-size: 16px;
}
.footer{
    background-color: #f5f5f5;
    height:415;
    }
.servecies1{
    padding-left: 40px;
    height: 109px;
    border-bottom: 1px solid #cccccc;
}
.servecies1 ul li{
    float: left;
    padding: 30px 120px 25px 0;
    font-size: 12px;
}
.servecies1 ul li:last-child{
    padding-right: 100px;
}
.servecies1 ul li .zheng{
    width: 61px;
    height: 54px;
    background: url(../images/icons.png) -248px 0;
}
.servecies1 ul li .zheng1 span:first-of-type{
    font-weight: 700;
}

.servecies2{
    padding-top: 20px;
    padding-left: 40px;
    height: 184px;
    border-bottom: 1px solid #cccccc;  
}
.servecies2 ul li{
    padding-right: 120px;
    float: left;
}
.servecies2 ul li:last-child{
    padding-right: 60px;
    text-align: center;
}
.servecies2 ul li dl dt{
    font-size: 16px;
}
.servecies2 ul li h6{
    font-size: 12px;
    font-weight: normal;
}

.copyright{
    height: 120px;
    text-align: center;
}
.copyright ul{
    width: 770px;
    height: 12px;
    margin: 20px 210px;
    
}
.copyright ul li{
    font-size: 12px;
    float: left;
    padding: 0 10px;
    border-right: 1px solid #666666;
}

