.header{
    position: relative;
}
.header .sk{
    position: absolute;
    top: 38px;
    left: 190px;
    width: 73px;
    height: 35px;
    border-left: 1px solid #c81523;
    background: url(../images/sk.png) no-repeat right bottom;
}
.list_nav{
    height: 47px;
    line-height: 47px;
    border-bottom: 2px solid #c81523;
}
.miaos,.fenl {
    height: 47px;
    line-height: 47px;
}
.miaos li{
    float: left;
    /* font: normal 700 15px Microsoft Yahei; */
    font-size: 16px;
    font-weight: 700;
    margin-right: 60px;
}
.miaos li a{
    color: #000000;

}
.fenl li{
    float: left;
    font-size: 12px;
    padding: 0 20px; 
}
.red{
    color: red;
}

.bg{
    height: 120px;
    background: url(../images/bg_03.png) no-repeat center center;
}
.phone ul li{
  
    float: left;
    width: 288px;
    height: 456px;
    margin-right: 15px;
}
.phone ul li:nth-child(4n){
    margin-right: 0;
}
.phone ul li:hover{
    position: relative;
    box-shadow: 0 0 1px red;
}
.phone ul li p{
    margin-left: 20px;
    margin-right: 20px;
}
.phone ul li .text1{
    line-height: 23px;
    font-size: 14px;
}
.phone ul li .text2{
    margin: 10px 20px;
}
.phone ul li .text2 span:first-child{
    font-weight: 700;
    color:red;
    font-size: 16px;

}
.phone ul li .text2 span:last-child{
    font-weight: 400;
    font-size: 10px;
    text-decoration: line-through;
    
}
.phone ul li .text3{
    font-size: 8px;
    margin-bottom: 7px;
}
.phone ul li .text3 i{
    vertical-align: middle;
    display: inline-block;
    width: 120px;
    height: 14px;
    border-radius: 7px;
    border:1px solid red;
}
.phone ul li .text3 i em{
    display: inline-block;
    width: 100px;
    height: 14px;
    background-color: red;
    border-top-left-radius: 7px;
    border-bottom-left-radius:7px ;
}
.phone ul li .text3 span{
    color:red;
}
.phone ul li button{
    width: 288px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    font-size: 20px;
    text-align: center;
    color: white;
}
